/* styles.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.hero {
    padding: 100px 0;
    background: url('hero-bg.jpg') no-repeat center center;
    background-size: cover;
}

/* Estilos generales para la sección "Nosotros" */
.section-title {
    font-family: 'Arial', sans-serif; /* Fuente general */
    font-size: 2.5rem; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    color: #333; /* Color de texto oscuro */
    text-transform: uppercase; /* Todo en mayúsculas */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio debajo del título */
    position: relative; /* Posición relativa para efectos */
}
.section-title::before {
    content: ""; /* Contenido vacío para el efecto */
    position: absolute; /* Posición absoluta para el efecto */
    left: 50%; /* Centrar horizontalmente */
    bottom: -10px; /* Espacio desde la parte inferior del título */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 200px; /* Ancho de la línea */
    height: 3px; /* Grosor de la línea */
    background-color: #f8c44c; /* Color de la línea */
}

#contacto {
    margin-top: 300px; /* Ajuste para que las secciones no queden ocultas detrás del navbar */
}

.navbar-brand img.logo {
    height: 70px; /* Ajusta la altura del logo según sea necesario */
    width: auto; /* Mantiene la proporción del logo */
    margin-right: 10px; /* Añade un poco de margen a la derecha del logo */
}


.card-img-top {
    width: auto;
    height: 170px;
}

.card-img-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-container img {
    width: 100%;
    height: auto;
}

.price {
    width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #d9534f;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 10px auto 0;
            text-align: center;
}


.card-body {
    text-align: center;
}


#contacto {
    background-color: #f8f9fa;
    padding: 60px 0;
    border-radius: 8px;
}

#contacto p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

#contacto ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
}

#contacto ul li {
    background: url('img/check-icon.png') no-repeat left center;
    padding-left: 25px;
    margin-bottom: 10px;
    color: #555;
}

#contacto p strong {
    color: #d9534f;
}

#map {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

footer {
    margin-top: 50px;
}
